body{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: white;
	background: url("../images/bg.png");
	margin: 0;
	margin-top: 30px;
	user-select: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.site-header-menu{
	justify-content: center;
	display: flex;
	position: relative;
	background: rgba(145, 0, 255, 0.64);
	height: 50px;
	box-sizing: border-box;
}

.site-header-menu .right-menu{
	padding-left: 20%;
	font-size: 27px;
	display: flex;
	height: 100%;
	box-sizing: border-box;
}

.right-menu ul{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.right-menu ul > li{
	display: inline-flex;
	align-content: center;
	cursor: pointer;
	height: 100%;
	margin: 0 10px 0 10px;
	align-items: center;
}

.site-header-menu a{
	white-space: nowrap;
	color: white;
	text-decoration: initial;
}

.site-header-logo{
	display: inline-flex;
	position: relative;
	transform: translate(0%, -50%);
	top: 50%;
	width: 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	background: black;
	border-radius: 50%;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

.site-header-logo img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
}

.main-content{
	position: relative;
	margin: auto;
	margin-top: 50px;
	padding: 20px 40px 60px 40px;
	width: 70%;
	max-width: 900px;
	min-height: 800px;
	background-color: rgba(255, 255, 255, 0.09);
	box-sizing: border-box;
	font-size: 16pt;
}

.site-footer-menu{
	width: 100%;
	height: 150px;
	margin-top: 30px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #000 30%, #000 70%);
}